* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.nav-bar {
    padding: 5px;
}

.nav-ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-ul li {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.nav-ul li a {
    font-size: 1.5rem;
    padding: 10px;
}

.nav-ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

.wrapper {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .container {
    width: 90%;
    background-color: #e5e5e5;
    position: relative;
}

.wrapper .container a{
    color: inherit;
    text-decoration: none;
}

.wrapper .container a .GitHubIcon{
    position: absolute;
    top: 4rem;
    right: 3rem;
    font-size: 4rem;
    cursor: pointer;
    transition: all 0.1s linear;
}

.wrapper .container a .GitHubIcon:hover{
    font-size: 4.4rem;
    right: 2.8rem;
}

.wrapper .container a .GitHubIcon:active{
    font-size: 3.8rem;
    right: 3.1rem;
}

.wrapper .container .greeting{
    font-size: 1.8rem;
}

.contact_form {
    display: flex;
    justify-content: center;
    align-content:center ;
}

.btn{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 2%;
    background-color: #26a02c;
    color: rgb(255, 255, 255);
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 4px;
}

.details{
    font-size: large;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    margin: auto;
    border-radius: 7px;
    background-color: #f4f9ec;
    width: 100%;
}

legend{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    /* background-color: #b1bef6; */
    border-radius: 10px;
}

#feedback {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #f4f9ec;
    border-radius: 7px;
    padding: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    resize: none;
}

fieldset{
    padding: 0%;
    width: 100%;
    height: auto;
    border-radius: 6px;

}

.wrapper .container .greeting span{
    font-size: 3rem;
    color: #ff0000;
}

.wrapper .container .heading {
    width: 80%;
    font-size: 3rem;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 500;
    text-align: center;
    margin: 4rem auto 0rem;
    color: #090808;

    padding-bottom: 1rem;
    border-bottom: 1px solid #7B8487;
}

.wrapper .container .heading span {
    font-family: 'Great Vibes', cursive;
    font-size: 3.6rem;
}

.wrapper .container p {
    text-align: center;
    font-size: 1.8rem;
    width: 80%;
    margin: 5rem auto 0rem;
    color: #777B84;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    position: relative;
}

.wrapper .container .accordion_wrapper {
    width: 80%;
    margin: 1rem auto;
}

.wrapper .container .accordion_wrapper .accordion_container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-bottom: .7rem;
    border-bottom: 1px solid #cccaca;
    margin-top: 1.2rem;
    transition: all 1s ease-in-out;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    
}


.wrapper .container .accordion_wrapper .accordion_container:last-child{
    border-bottom: none;
}

.wrapper .container .accordion_wrapper .accordion_container .accordion_title {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #284B63;
    cursor: pointer;
    max-width: auto;
}

.wrapper .container .accordion_wrapper .accordion_container .accordion_title h5 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.85rem;
    font-weight: 500;
    margin-left: .5rem;
    
}

.wrapper .container .accordion_wrapper .accordion_container .accordion_title .arrow_icon{
    font-size: 2rem;
    color: #284B63;
    opacity: 0.8;
}

.wrapper .container .accordion_wrapper .accordion_container .accordion_title .open{
    transform: rotate(450deg); 
    transition: all 0.3s ease-in-out;
}

.wrapper .container .accordion_wrapper .accordion_container .accordion_content {
    flex-direction: column;
    margin: 1rem 0rem 0.8rem 2rem;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    /* display: flex; */
    display: none;
    /* height: 0; */
    transition: height 0.3s ease-in-out;
}

.wrapper .container .accordion_wrapper .accordion_container .accordion_content h5 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #777B84;
}

.wrapper .container .accordion_wrapper .accordion_container .accordion_content section {
    font-family: 'IBM Plex Serif', serif;
    margin: .5rem 0rem 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #14274E;
}

.wrapper .container .accordion_wrapper .accordion_container .accordion_content section:last-child {
    margin: .5rem 0rem .2rem;
}

.wrapper .container .accordion_wrapper .accordion_container .accordion_content a {
    font-family: 'IBM Plex Serif', serif;
    margin: .5rem 0rem 2rem;
    font-size: 1.45rem;
    font-style: italic;
    font-weight: 500;
    color: #132470;
    word-wrap: break-word;
}

.wrapper .container .accordion_wrapper .accordion_container .active{
    display: flex;
}

.wrapper .container .footer-social-icons a{
    transition: all 0.1s linear;
}

.search-bar-container
{
    width: 80%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
}
.search-bar-container input {
    height: 3rem;
    width: 20rem;
    font-size: 1.5rem;
    padding: 2px 5px;
}
.search-bar-container button {
    height: 3rem;
}
.search-bar-container button .fa  {
    font-size: 1.5rem;
    padding: 5px 5px;
}
.search-bar-container button .fa:hover  {
    cursor: pointer;
    transform: scale(1);
}

/* for @responsiveness -> smaller screens */
@media (max-width: 768px){
    .wrapper .container a .GitHubIcon{
        top: 2.5%;
        font-size: 3.3rem;
    }
    .wrapper .container .accordion_wrapper{
        width: 92%;
    }

    .wrapper .container .accordion_wrapper .accordion_container .accordion_content h5{
        font-size: 1.4rem;
    }
}

footer {
    
    padding: 15px;
    text-align: center;
    justify-content: space-evenly;
}

.fa {
    padding: 20px;
    font-size: 30px;
    color: black;
   

}
.fa:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#btn-back-to-top {
    position: fixed;
    bottom: 25px;
    right: 20px;
    display: none;
    border-radius: 50%;
    background-color: #e5e5e5;
}

.arrow-position{
    position: relative;
    bottom: 16px;
    right: 13px;
    color: #4a2222;
}